<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Welcome, {{ user.username }}</h1>

    <ul>
        {% for room in chat_rooms %}
            <li><a href="{% url 'chat:room' room.name %}">{{ room.name }}</a></li>
        {% empty %}
            <li>채팅방이 없습니다.</li>
        {% endfor %}
    </ul>
    <h2><a href="{% url 'posts:post_list' %}">공모전 찾아보기</a></h2>
    <h2><a href="{% url 'posts:post_create' %}">공모전 공고 올리기</a></h2>
    <h2><a href="{% url 'chat:create_chat_room' %}">Create a New Chat Room</a></h2>

    <h3><a href="{% url 'accounts:profile' request.user.username %}">내 프로필</a></h3>
    <h3><a href="{% url 'accounts:edit_profile' %}">Edit My Profile</a></h3> <!-- 수정 링크 -->
</body>
</html>