<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>홈 화면</title>
</head>
<body>
    <h1>환영합니다, {{ user.username }}님!</h1>

    <h2>채팅방 목록</h2>
    <ul>
        {% for room in chat_rooms %}
            <li><a href="{% url 'chat:room_detail' room.id %}">{{ room.name }}</a></li>
        {% empty %}
            <li>채팅방이 없습니다.</li>
        {% endfor %}
    </ul>

    <h2><a href="{% url 'chat:create_chat_room' %}">채팅방 만들기</a></h2>

    <h3><a href="{% url 'accounts:profile' username=user.username %}">내 프로필</a></h3>
</body>
</html>